//.logs__wrapper {
//  padding: 4px;
//  height: 100%;
//  width: 100%;
//  display: flex;
//  flex-direction: column;
//  flex: 1;
//
//  .logs__title {
//    padding-bottom: 24px;
//  }
//
//  .logs__list {
//    display: flex;
//    flex-direction: column;
//    overflow-y: auto;
//    height: 100%;
//    //gap: 10px;
//
//    .logs__el {
//      display: flex;
//      flex-direction: column;
//      text-align: left;
//
//      .el__header {
//        display: flex;
//        flex-direction: row;
//
//        .img {
//          width: 36px;
//          display: flex;
//          justify-content: center;
//
//          .ico {
//            height: 16px;
//            width: 16px;
//          }
//        }
//
//        .header__title {
//          display: flex;
//          flex-direction: row;
//          flex: 1;
//          justify-content: space-between;
//          padding: 0 14px 12px 14px;
//
//          .title__text {
//            font-size: 12px;
//            font-weight: 700;
//          }
//
//          .title__days {
//            font-weight: unset;
//            color: gray;
//            font-size: 8px;
//          }
//        }
//      }
//
//      .el__body {
//
//        display: flex;
//        flex-direction: row;
//
//        .body__line_placeholder {
//          max-width: 36px;
//          min-width: 36px;
//          flex: 1;
//          display: flex;
//          min-height: 58px;
//          flex-direction: column;
//          padding-bottom: 8px;
//
//          .body__line {
//            background-color: lightgray;
//            width: 2px;
//            display: flex;
//            height: 4px;
//            flex: 1;
//            align-self: center;
//          }
//        }
//
//
//        .body__text {
//          padding-left: 14px;
//          padding-right: 4px;
//          font-size: 12px;
//
//        }
//      }
//    }
//  }
//
//  .logs__button {
//    color: gray;
//    text-decoration: underline;
//    padding-bottom: 16px;
//    text-align: center;
//  }
//}


.logBuilder {
  //overflow-y: auto;
  height: 100%;
  width: 100%;
  display: flex;

  flex-direction: column;
  gap: 16px;


  .logBuilder__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    height: 100%;
    background-color: inherit;


    .logs__el_wrapper {
      font-size: 12px;
      border-left: 2px solid lightgray;
      margin: 0 12px 0 20px;
      padding: 0 0 0 20px;
      position: relative;
      min-height: 80px;
      background-color: inherit;

      .el__ico {

        position: absolute;
        height: 24px;
        width: 24px;
        margin: 8px 16px 8px 16px;
        top: -8px;
        left: -30px;
      }

      .el__upper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .el__title {
          font-weight: 700;
        }

        .el__days {
          width: 25%;
          font-weight: unset;
          color: gray;
          font-size: 8px;
        }
      }

      .el__text {
        padding-bottom: 8px;

      }

    }


  }
  .logs__button {
    color: gray;
    text-decoration: underline;
    padding-bottom: 16px;
    text-align: center;

  }
}