.sideBar__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  overflow: unset;
  z-index: 998;

  .sideBar {
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #26643b;
    color: white;
    height: 100dvh;
    width: 130px;
    z-index: 999;

    .sideBar__header {
      display: flex;
      position: relative;
      top: 4px;
      justify-content: flex-end;

      .remove_btn {
        margin: 0 8px;
      }
    }

    .sideBar__links {
      padding: 16px;
      width: 100%;

      .sideBar__link {
        padding: 8px;

        .sideBar__widgets {
          padding: 4px;

          .sideBar__widget {
            padding: 4px;
          }
        }
      }
    }
  }
}