.sideBar{
  background-color: #b3dec2;
  .sideBar__links{
    padding: 16px;
    width: 100%;
    .sideBar__link{
      padding: 8px;
      &:hover{

      }
      .sideBar__widgets{
        padding: 4px;
        &:hover{

        }
        .sideBar__widget{
          padding: 4px;

        }
      }
    }
  }

}