.avgTime__wrapper {
  background-color: white;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 4px;
  //align-items: center;
  .bar{align-self: center}
  .users{
    align-self: flex-start;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 0 36px;
    .user{
      display: flex;
      flex-direction: column;
      flex: 1;
      .fakeTable{
        display: flex;
        min-height: 6px;
        flex-direction: row;
        flex: 1;
        border-top: 1px solid lightgray;
        border-right: 1px solid lightgray;
        border-left: 1px double lightgray;

      }
      .user__name{
      font-size: 8px;
        text-align: center;
      }
    }


  }
}