.overallProgress {
  //scale: 2;

  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: center;
  padding: 16px;
  height: 100%;
  justify-content: space-around;

  .overallProgress__title {
    padding-top: 16px;
    width: 50%;
  }

  .ant-progress-text {
    top: 40px !important;
    font-weight: 500;
  }

  .antProgOverall {
    position: relative;
    margin-bottom: -10%;
    top: 10%;
  }
}